.cell {
  background-color: gray;
  border-radius: 5px;
  transition: all 0.25s;
}

[data-active='true'] .cell:hover {
  background-color: darkgray;
}

[data-active] .cell.clicked {
  background-color: unset;
}

.cell.clicked.has-item {
  background-image: url(../../../assets/goldbricks.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
